page-recuperar {
    ion-content{
        h2, p{
            text-align: center;
        }
        p{
            a{
                color: #000;
                text-decoration: none;
            }
        }
    }
}
